# 대구 검색했을때 뉴스기사 10개의 제목

In [77]:
import requests
url = requests.get("https://search.naver.com/search.naver?sm=tab_hty.top&where=news&ssc=tab.news.all&query=%EB%8C%80%EA%B5%AC&oquery=%EB%8C%80%EA%B5%AC&tqi=iJYK%2Flqpts0ssL6%2FI%2FZssssst1G-077103")
url

In [78]:
from bs4 import BeautifulSoup   # html 소스코드를 파이썬으로 다룰 수 있게 변환

html = BeautifulSoup(url.text)      # url.text를 파이썬으로 다룰 수 있는 객체로 바꿔줘

In [79]:
news = html.find("ul", class_ = "list_news _infinite_list").find_all("li", class_ = "bx")
len(news)       # 10개의 뉴스기사를 찾았다는 뜻

10

In [83]:
import pandas as pd

total = []
for i in news:
    a = i.find("a", class_ = "news_tit")
    title = a["title"].strip()
    link = a["href"]
    total.append([title, link])
    #print(a)

pd.DataFrame(total, columns = ["제목", "링크"])

,제목,링크
0,3명 사상 ‘대구 무도장 방화범’ 대법서 징역 35년 확정,https://www.khan.co.kr/article/202502240830001
1,대구마라톤 탄자니아 게이 선수 우승…대회 신기록,https://www.yna.co.kr/view/AKR2025022302380005...
2,'2025 대구마라톤대회',https://www.newsis.com/view/NISI20250223_00207...
3,"대구 시내버스 노선, 10년 만에 개편",https://www.news1.kr/photos/7146953
4,[단독] 대구 포스코 더샵 어나드범어 고분양가 '논란',http://www.metroseoul.co.kr/article/2025022450...
5,대구 내연녀 방화 살해男 징역 35년 “과거에 유사 범죄”,https://www.munhwa.com/news/view.html?no=20250...
6,"홍준표 ""만약 대선 생기면 대구시장직 사퇴""",https://www.ytn.co.kr/_ln/0101_202502241058546205
7,"[토크ON] ① 악성 미분양 최다, 대구 부동산 시장 현황은?",https://dgmbc.com/article/pCeexyRnbP5
8,"대구시, 2급 신공항건설단장에 나웅진 씨 내정",https://www.yna.co.kr/view/AKR2025022404890005...
9,"월요일 대구·경북 맑음, 아침 -12도 강추위…체감은 더 뚝",https://www.newsis.com/view/NISX20250223_00030...

# 연금복권 1등의 당첨조와 당첨번호

In [84]:
url = requests.get("https://search.daum.net/search?w=tot&DA=YZR&t__nil_searchbox=btn&q=%EC%97%B0%EA%B8%88%EB%B3%B5%EA%B6%8C")
url

In [85]:
from bs4 import BeautifulSoup   # html 소스코드를 파이썬으로 다룰 수 있게 변환

html = BeautifulSoup(url.text)      # url.text를 파이썬으로 다룰 수 있는 객체로 바꿔줘

In [93]:
html.find("tr", class_ = "fst").text.split()[5:]

['4조', '3', '4', '6', '1', '9', '6']

In [95]:
import time

for n in range(1,21):
    url = requests.get(f"https://search.daum.net/search?w=tot&DA=JIM&rtmaxcoll=JIM&&q=%EC%97%B0%EA%B8%88%EB%B3%B5%EA%B6%8C%20720%2B%20{n}%ED%9A%8C%EC%B0%A8")
    html = BeautifulSoup(url.text)
    numbers = html.find("tr", class_ = "fst").text.split()[5:]
    total.append(numbers)
    print(f"{n}회 연금복권 데이터 저장 완료 : {numbers}")
    time.sleep(2)

1회 연금복권 데이터 저장 완료 : ['4조', '1', '6', '2', '1', '3', '2']
2회 연금복권 데이터 저장 완료 : ['2조', '4', '5', '0', '5', '5', '8']
3회 연금복권 데이터 저장 완료 : ['4조', '5', '4', '4', '9', '5', '5']
4회 연금복권 데이터 저장 완료 : ['4조', '1', '2', '4', '4', '2', '0']
5회 연금복권 데이터 저장 완료 : ['4조', '7', '5', '4', '6', '5', '5']
6회 연금복권 데이터 저장 완료 : ['5조', '1', '9', '3', '2', '0', '2']
7회 연금복권 데이터 저장 완료 : ['2조', '5', '9', '7', '0', '9', '3']
8회 연금복권 데이터 저장 완료 : ['4조', '2', '3', '4', '0', '5', '8']
9회 연금복권 데이터 저장 완료 : ['3조', '1', '3', '3', '5', '1', '0']
10회 연금복권 데이터 저장 완료 : ['2조', '7', '7', '0', '1', '7', '3']
11회 연금복권 데이터 저장 완료 : ['1조', '8', '6', '7', '6', '5', '4']
12회 연금복권 데이터 저장 완료 : ['5조', '0', '7', '6', '6', '7', '6']
13회 연금복권 데이터 저장 완료 : ['1조', '6', '6', '9', '2', '4', '5']
14회 연금복권 데이터 저장 완료 : ['3조', '4', '3', '2', '4', '9', '6']
15회 연금복권 데이터 저장 완료 : ['4조', '4', '7', '7', '2', '3', '8']
16회 연금복권 데이터 저장 완료 : ['4조', '6', '6', '4', '0', '5', '6']
17회 연금복권 데이터 저장 완료 : ['3조', '3', '1', '7', '2', '2', '7']
18회 연금복권 데이터 저장 완료 : ['1조', '5', '6', '2', '2', '2', '2']
19회 연금복권 데이터 저장 완료 : ['5조', '8', '5', '9', '2', '1', '9']
20회 연금복권 데이터 저장 완료 : ['1조', '8', '1', '9', '6', '0', '5']

In [96]:
import pandas as pd
pd.DataFrame(total, columns = ["조", 1,2,3,4,5,6])

     조  1  2  3  4  5  6
0   4조  1  6  2  1  3  2
1   4조  1  6  2  1  3  2
2   2조  4  5  0  5  5  8
3   4조  5  4  4  9  5  5
4   4조  1  2  4  4  2  0
5   4조  7  5  4  6  5  5
6   5조  1  9  3  2  0  2
7   2조  5  9  7  0  9  3
8   4조  2  3  4  0  5  8
9   3조  1  3  3  5  1  0
10  2조  7  7  0  1  7  3
11  1조  8  6  7  6  5  4
12  5조  0  7  6  6  7  6
13  1조  6  6  9  2  4  5
14  3조  4  3  2  4  9  6
15  4조  4  7  7  2  3  8
16  4조  6  6  4  0  5  6
17  3조  3  1  7  2  2  7
18  1조  5  6  2  2  2  2
19  5조  8  5  9  2  1  9
20  1조  8  1  9  6  0  5