In [2]:
import undetected_chromedriver as uc
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time

In [3]:
driver = uc.Chrome()
driver.get("https://search.naver.com/search.naver?ssc=tab.news.all&where=news&sm=tab_jum&query=%EB%8C%80%EA%B5%AC%EC%9D%80%ED%96%89")

# 대구은행 검색했을때 나오는 뉴스기사 가져오기

In [42]:
## 해당 페이지의  뉴스 기사의 제목, 내용만 가져와라 

#내가한거
box = []
for i in range(10):
    title = driver.find_elements(By.CLASS_NAME, "news_tit")[i].text
    content = driver.find_elements(By.CLASS_NAME, "news_dsc")[i].text
    box.append([title, content])

In [4]:
#강사님
box = []

news = driver.find_element(By.CSS_SELECTOR, "ul.list_news._infinite_list").find_elements(By.CSS_SELECTOR, "li.bx")
# 뉴스기사 하나의 제목,내용 등 다포함하는 항목에 대해          해당 페이지 내에서 그런걸 다찾아라
for i in news:
    title = (i.find_element(By.CSS_SELECTOR, "a.news_tit").get_attribute("title"))
            # 해당 뉴스기사에서 news_tit 찾아서 타이틀이라는 속성을 가져와라 
    summary = (i.find_element(By.CSS_SELECTOR, "div.dsc_wrap").text.strip())
    A = [title, summary]
    if A not in box:
        box.append(A)          # 같은 내용 중복해서 들어가지 않게  기존에 없는 것만 추가 

box

[["'정체성 무엇?' 시중은행 iM뱅크, 가계대출 규제는 대구은행처럼",
  "그렇다면 작년 '신입 시중은행'이 된 iM뱅크(옛 대구은행)는 어떨까요? 정부 말대로라면 시중은행인 iM뱅크는 당연히 시중은행과 같은 1~2% 증가율을 적용받아야 할텐데요. 답은 그렇지 않습니다. iM뱅크는 올해 지방은행의 가계대출 증가율에 준하는 5~6%를 적용받을 전망입니다. iM뱅크가 시중은행이긴 하지만..."],
 ['대구 은행서 4천만원 턴 30대 은행강도 1시간여 만 검거',
  '차단하고 추적에 나서 1시간여 만에 은행에서 500m 떨어진 상가 옥상에 숨어 있던 A씨를 긴급체포했습니다. 경찰 조사에서 A씨는 대출금 등 채무로 인해 범행을 저질렀다고 진술했습니다. 경찰은 A씨를 상대로 정확한 범행 경위 등을 조사한 뒤 구속영장을 신청할 방침입니다. #_경찰 #강도 #긴급체포'],
 ['[속보] 김태오 전 대구은행 DGB금융그룹 회장 원심 파기 징역 2년에 집유 3년',
  '대구고등법원 제2형사부 정승규 부장판사는 캄보디아에서 상업은행 인가를 받기 위해 350만 달러를 건넨 혐의 등으로 기소된 김태오 전 회장에게 무죄를 선고한 원심을 파기하고 징역 2년에 집행유예 3년을 선고했습니다. 함께 기소된 임직원 3명 역시 무죄를 선고한 원심을 파기하고 징역 1년 6개월에서...'],
 ['iM뱅크대구은행지부, \'행동으로 입증한 지난해\'···"올해도 초심 잃지 않겠다"',
  '금융노조 iM뱅크대구은행지부가 11일 오전 대구 iM뱅크대구은행 본점에서 제57년차 정기전국대의원대회를 열었다. ⓒ 참여와혁신 박완순 기자 wspark@laborplus.co.kr 금융노조 iM뱅크대구은행지부(위원장 백지노)가 11일 오전 대구 iM뱅크 본점에서 제57년차 정기전국대의원대회를 열었다. 이날...'],
 ['독립운동 성지 칠곡, 삼일절 헌화로 역사와 미래 잇는다',
  '장 회장은 1927년 대구 조선은행 폭탄투척 의거의 주역이자 장진홍 의사의 손자다. 이날 장 회장은 할아버지의 기념비 앞에서 헌화하며 잠시 걸음을 멈췄다. 김재욱 군수는 그런 후손의 팔을 다시 한번 단단히 잡았다. 그 손끝에는 100년 전 뜨거웠던 독립의 숨결과, 오늘 우리가 이어가야 할 역사적 책임이 함께...'],
 ['"돈 안 굴려도 이자 쏠쏠했는데"…은행 갔다가 \'화들짝\'',
  'iM뱅크(옛 대구은행)는 5일부터 예·적금 금리를 최대 0.4%포인트 내릴 예정이다. 이로 인해 iM스마트예·적금의 최고금리가 연 2%로 주저앉게 된다. iM자유적금의 최저 기본이율은 연 1.87%까지 떨어진다. 앞서 국민·신한·하나은행은 각각 대표 예금 상품인 ‘KB스타 정기예금’, ‘쏠편한 정기예금’...'],
 ['[화촉]이찬희(전 대구신용보증재단 이사장, 대구은행 부행장) 딸 서현 양, 15일 결혼',
  '▶장준호·한은숙 씨 아들 장영철 군, 이찬희(전 대구신용보증재단 이사장, 대구은행 부행장)·김미숙 씨 딸 서현 양. 2월 15일(토) 오후 4시 50분. 호텔수성(대구시 수성구 두산동) 수성스퀘어 3층 블레스홀.'],
 ['대구은행 새 이름 iM뱅크, 가장 지역적인 시중은행으로[금융특집]',
  "대구경북 지역 대표기업으로 성장해 온 iM뱅크(옛 대구은행)가 올해 전국구 은행으로 재탄생했다. 1967년 10월 국내 첫 지방은행으로 출범한 지 57년 만인 지난 5월 시중은행으로 전환하면서다. 이는 지방은행에서 시중은행으로 전환한 국내 첫 사례다. iM뱅크는 시중은행으로서 비전을 '전국의 고객과 함께..."],
 ['[E-로컬뉴스] 칠곡군,울진군,청도군 소식 등',
  '장상규 씨는 1927년 대구 조선은행 폭탄투척 의거의 주역, 장진홍 의사의 손자다. 이날, 장 씨는 할아버지의 기념비 앞에서 헌화하며 잠시 걸음을 멈췄다. 김재욱 군수는 그런 후손의 팔을 다시 한번 단단히 잡았다. 그 손끝에는 100년 전 뜨거웠던 독립의 숨결과, 오늘 우리가 이어가야 할 역사적 책임이 함께...'],
 ["iM뱅크, 대구 영업점 잇단 '폐쇄'…시중은행 전환 명분 '퇴색'",
  '[사진=DGB금융그룹] iM뱅크(구 DGB대구은행)가 대구지역 영업점을 잇달아 폐쇄하면서 시중은행으로 전환한 명분이 퇴색하고 있다는 지적이 나온다. 특히 노인 고객에 대한 배려가 무시되면서 금융 소외층이 늘어날 것이란 우려가 나온다. 11일 금융업계에 따르면 iM뱅크는 지난 2일 대구지역 영업점 4곳을...']]

In [45]:
# 페이지 스크롤하는 방법 1 - 확 내림 

driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")  
# 스크롤의 바디부분만큼 내려주겠다

In [46]:
# 페이지 스크롤하는 방법 2 - 조금씩 

body = driver.find_element(By.TAG_NAME, "body")
for n in range(10):
    body.send_keys(Keys.PAGE_DOWN)
    time.sleep(2)

In [5]:
# 뉴스기사 100개의 제목, 본문요약 수집하겠다 

box = []
while True:
    news = driver.find_element(By.CSS_SELECTOR, "ul.list_news._infinite_list").find_elements(By.CSS_SELECTOR, "li.bx")
    for i in news:
        title = (i.find_element(By.CSS_SELECTOR, "a.news_tit").get_attribute('title'))
        summary = (i.find_element(By.CSS_SELECTOR, "div.dsc_wrap").text.strip())
        A = [title, summary]
        if A not in box:
            box.append(A)
            if len(box) == 100:
                break
    if len(box) == 100:
        break
    print(f"{len(box)}개 뉴스기사 수집 완료")
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    # 가져올 거 다 가져오고 스크롤 내리겠다는 뜻
    time.sleep(3)

10개 뉴스기사 수집 완료
20개 뉴스기사 수집 완료
30개 뉴스기사 수집 완료
40개 뉴스기사 수집 완료
50개 뉴스기사 수집 완료
60개 뉴스기사 수집 완료
70개 뉴스기사 수집 완료
80개 뉴스기사 수집 완료
90개 뉴스기사 수집 완료

In [57]:
len(box)

100

In [52]:
import pandas as pd
df = pd.DataFrame(box, columns = ["제목", "내용"])
df.to_excel("네이버 뉴스기사.xlsx", index = False)
df

,제목,내용
0,대구 은행서 4천만원 턴 30대 은행강도 1시간여 만 검거,차단하고 추적에 나서 1시간여 만에 은행에서 500m 떨어진 상가 옥상에 숨어 있던...
1,[속보] 김태오 전 대구은행 DGB금융그룹 회장 원심 파기 징역 2년에 집유 3년,대구고등법원 제2형사부 정승규 부장판사는 캄보디아에서 상업은행 인가를 받기 위해 3...
2,"iM뱅크대구은행지부, '행동으로 입증한 지난해'···""올해도 초심 잃지 않겠다""",금융노조 iM뱅크대구은행지부가 11일 오전 대구 iM뱅크대구은행 본점에서 제57년차...
3,"[화촉]이찬희(전 대구신용보증재단 이사장, 대구은행 부행장) 딸 서현 양, 15일 결혼","▶장준호·한은숙 씨 아들 장영철 군, 이찬희(전 대구신용보증재단 이사장, 대구은행 ..."
4,"울산시, 중소기업에 시설자금 200억 지원","협약 금융기관 12개소(BNK울산경남은행, KB국민은행, IBK기업은행, NH농협은..."
...,...,...
95,"대구은행, '초자동화·초개인화' 전략에 총력… '뉴하이브리드 뱅크' 업무효율성 극대화",◆‘RPA 기반 초자동화’ 강화… 대고객 채널·내부업무 효율화 지속 개선 'iM뱅크...
96,"시중銀 '메기' 꿈꾸는 대구은행, 6배 체급차 극복할 수 있을까",창립 56년만에 시중은행으로 전환된 DGB대구은행이 시중은행을 견제할 메기 역할을 ...
97,대구은행의 시중은행 전환에 '정치적 배경' 의혹,금융당국이 대구은행을 시중은행으로 인가한 것을 두고 말이 많다. 어느 모로 보나 대...
98,시중은행 전환 대구은행… '뉴 하이브리드 뱅크' 구현 전략 본격 속도전,"이상근 대구은행 ICT그룹 부행장 -디지털 전략 중시, '뉴 하이브리드뱅크' 구현할..."
99,대구은행 57년 만에 시중은행으로…iM뱅크로 새 출발,대구은행이 iM뱅크로 사명을 바꾸고 57년 만에 시중은행으로 새 출발했습니다. 대구...

# 네이버스토어 푸드윈도의 가격,제목,별점,리뷰개수 100개

In [61]:
driver = uc.Chrome()
driver.get("https://shopping.naver.com/fresh/directfarm/home")

In [87]:
# 내가한거 
box = []
while True:
    items = driver.find_element(By.CSS_SELECTOR, "ul._2apNeE5N3I").find_elements(By.CSS_SELECTOR, "li._1OKV3UfxuI")
    for i in items:
        title = (i.find_element(By.CSS_SELECTOR, "strong._1lxNNH5gfD").text.strip())
        price = (i.find_element(By.CSS_SELECTOR, "span._3MzrqSUlwR").text.strip())
        star = (i.find_element(By.CSS_SELECTOR, "li._3G5BbVc9PL._1FOtzXHiH3").text.strip("평점").strip())
        review = (i.find_element(By.CSS_SELECTOR, "li._3G5BbVc9PL.a0tLQiDclf").text.strip("리뷰"))
        A = [title, price, star, review]
        if A not in box:
                box.append(A)
                if len(box) == 100:
                    break
    if len(box) == 100:
        break
    print(f"{len(box)}개 상품 수집 완료")
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    time.sleep(3)

30개 상품 수집 완료
60개 상품 수집 완료
80개 상품 수집 완료

In [88]:
import pandas as pd
df = pd.DataFrame(box, columns = ["이름","가격","별점","리뷰개수"])
df.to_excel("네이버스토어 푸드윈도.xlsx", index = False)
df

                                           이름        가격    별점    리뷰개수
0              제주 한라봉 3kg 5kg 10kg 선물세트 가정용벌크   86,000원  4.78   1,535
1               제주 서귀포 신선한 한라봉 선물용 벌크 5kg 3kg   39,800원  4.73     906
2                   제주 콜라비 제철 겨울 햇콜라비 1kg 외5종   25,000원  4.83     122
3           무농약토마토 대저 짭짤이2.5kg 고당도 짭짤이토마토 로얄과   36,900원  4.54   3,111
4   완도 햇매생이 350g 찰매생이 150g 10재기 개별진공포장 낱개판매가능   30,400원  4.54      13
..                                        ...       ...   ...     ...
95                        제주 한라봉 3kg 가정용 선물세트   34,900원  4.81      96
96                   깐더덕 반깐더덕 장아찌 무침 초무침 10kg  280,000원   4.7      37
97         영덕 대게 국산 박달 구룡포 포항 자숙 택배 러시아크랩 1kg   50,400원  4.71     336
98                             설향딸기 800g/500g   25,200원  4.79      48
99                    통영 자연산 돌문어 참문어 1kg 1-5미   31,900원  4.77      93

[100 rows x 4 columns]

In [92]:
# 강사님 
box = []
while True:
    for i in driver.find_elements(By.CSS_SELECTOR, "li._1OKV3UfxuI"):
        title = (i.find_element(By.CSS_SELECTOR, "strong._1lxNNH5gfD").text.strip())
        price = (i.find_element(By.CSS_SELECTOR, "span._3MzrqSUlwR").text)
        star = (i.find_element(By.CSS_SELECTOR, "span._29gNnX1yLx").text.split("\n")[1])
        review = (i.find_elements(By.CSS_SELECTOR, "span._29gNnX1yLx")[1].text)
        A = [title, price, star, review]
        if A not in box:
            box.append(A)
            if len(box) == 100:
                break
    print(f"{len(box)}개 아이템 수집 완료")
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    time.sleep(3)
    if len(box) == 100:
        break

10개 아이템 수집 완료
30개 아이템 수집 완료
50개 아이템 수집 완료
70개 아이템 수집 완료
90개 아이템 수집 완료
100개 아이템 수집 완료

In [103]:
# 상품에 있는 이미지를 가져오고 싶다
import requests

idx = 0
for i in driver.find_elements(By.CSS_SELECTOR, "li._1OKV3UfxuI"):
    image = (i.find_element(By.TAG_NAME, "img")) 
    src = (image.get_attribute("src"))       # src 속성 쓰면 이미지를 링크로 가져와줌
    if not src:
        continue          # src에 속성 없으면 패스하도록
    for j in [".jpg", ".png", ".jpeg", ".gif"]:
        if j in src:
            if j in src:
                f = open(f"{idx}{j}", "wb")    # 이미지 파일로 하려면 binary 형태로. 즉 wb
                respone = requests.get(src)
                f.write(respone.content)
                f.close()
                idx += 1

# html

In [108]:
from bs4 import BeautifulSoup
driver.get("https://finance.naver.com/item/sise_day.naver?code=005930")

In [113]:
import warnings
warnings.filterwarnings("ignore")

html = BeautifulSoup(driver.page_source)     # 현재보고있는페이지의 소스코드를 받아와라 
table = html.find("table")
table = pd.read_html(str(table))[0].dropna()
table

            날짜       종가        전일비       시가       고가       저가         거래량
1   2025.02.27  56500.0    하락  100  56500.0  57100.0  56400.0   7526321.0
2   2025.02.26  56600.0    하락  600  57000.0  57100.0  56100.0  18117091.0
3   2025.02.25  57200.0    하락  100  56600.0  57800.0  56500.0  14625181.0
4   2025.02.24  57300.0    하락  900  57300.0  57700.0  57200.0  14138471.0
5   2025.02.21  58200.0    하락  200  58400.0  58500.0  57100.0  22198428.0
9   2025.02.20  58400.0    하락  300  59100.0  59100.0  58100.0  21589059.0
10  2025.02.19  58700.0  상승  1,800  57400.0  58900.0  57300.0  25395151.0
11  2025.02.18  56900.0    상승  900  56200.0  57200.0  55900.0  22131007.0
12  2025.02.17  56000.0        보합0  56100.0  56500.0  55700.0  11916027.0
13  2025.02.14  56000.0    상승  200  56000.0  57300.0  56000.0  23979779.0

In [127]:
# 1~10페이지 테이블을 셀레니움으로 가져와서 하나의 데이터프레임 만들기
box = []
for i in range(1, 11):
    driver.get(f"https://finance.naver.com/item/sise_day.naver?code=005930&page={i}")
    time.sleep(2)
    html = BeautifulSoup(driver.page_source)     # 현재보고있는페이지의 소스코드를 받아와라 
    table = html.find("table")
    table = pd.read_html(str(table))[0].dropna()
    box.append(table)

In [128]:
pd.concat(box)

            날짜       종가        전일비       시가       고가       저가         거래량
1   2025.02.27  56600.0        보합0  56500.0  57100.0  56400.0   7759555.0
2   2025.02.26  56600.0    하락  600  57000.0  57100.0  56100.0  18117091.0
3   2025.02.25  57200.0    하락  100  56600.0  57800.0  56500.0  14625181.0
4   2025.02.24  57300.0    하락  900  57300.0  57700.0  57200.0  14138471.0
5   2025.02.21  58200.0    하락  200  58400.0  58500.0  57100.0  22198428.0
..         ...      ...        ...      ...      ...      ...         ...
9   2024.10.07  61000.0    상승  400  60200.0  61900.0  59500.0  35066533.0
10  2024.10.04  60600.0    하락  700  61000.0  61700.0  60500.0  24247578.0
11  2024.10.02  61300.0    하락  200  60500.0  61900.0  59900.0  28473536.0
12  2024.09.30  61500.0  하락  2,700  64200.0  64300.0  61500.0  32694163.0
13  2024.09.27  64200.0    하락  500  64700.0  65400.0  64200.0  28433030.0

[100 rows x 7 columns]

In [129]:
# 모든 페이지의 테이블을 셀레니움으로 가져와서 하나의 데이터프레임 만들기
box = []
for i in range(1, 720):
    driver.implicitly_wait(10)         # 페이지가 모두 뜰때(HTML한정)까지 최대 10초를 기다려라 
    driver.get(f"https://finance.naver.com/item/sise_day.naver?code=005930&page={i}")
    html = BeautifulSoup(driver.page_source)     # 현재보고있는페이지의 소스코드를 받아와라 
    table = html.find("table")
    table = pd.read_html(str(table))[0].dropna()
    box.append(table)

In [130]:
samsung = pd.concat(box, ignore_index=True)
samsung = samsung.iloc[1:]
samsung.to_excel("삼성 주가 데이터.xlsx", index = False)
samsung

              날짜       종가        전일비       시가       고가       저가         거래량
1     2025.02.26  56600.0    하락  600  57000.0  57100.0  56100.0  18117091.0
2     2025.02.25  57200.0    하락  100  56600.0  57800.0  56500.0  14625181.0
3     2025.02.24  57300.0    하락  900  57300.0  57700.0  57200.0  14138471.0
4     2025.02.21  58200.0    하락  200  58400.0  58500.0  57100.0  22198428.0
5     2025.02.20  58400.0    하락  300  59100.0  59100.0  58100.0  21589059.0
...          ...      ...        ...      ...      ...      ...         ...
7177  1996.06.29  68500.0    상승  400  68100.0  69100.0  67100.0     96710.0
7178  1996.06.28  68100.0  상승  1,200  67300.0  68500.0  67200.0    138430.0
7179  1996.06.27  66900.0    하락  800  67500.0  67700.0  66700.0    155450.0
7180  1996.06.26  67700.0    상승  200  67600.0  67900.0  66000.0    136630.0
7181  1996.06.25  67500.0        보합0  66500.0  68300.0  65600.0    112960.0

[7181 rows x 7 columns]

In [133]:
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

# 어떤 특정 요소가 뜰때까지 기다린다 (JSP까지 적용가능)
wait = WebDriverWait(driver, 10)       # driver가 뜰때까지 10초 기다린다 
A = wait.until(EC.presence_of_element_located(By.CSS_SELECTOR, "table"))
A.click()

TypeError: presence_of_element_located() takes 1 positional argument but 2 were given