# sales

In [56]:
import pandas as pd
sales = pd.read_csv("Data/정형데이터 프로젝트/Sales_data.csv")
sales['고객번호'] = sales['고객번호'].astype(str)
del sales["Unnamed: 0"]
sales

C:\Users\campus4D019\AppData\Local\Temp\ipykernel_104388\2266770497.py:2: DtypeWarning: Columns (1,6) have mixed types. Specify dtype option on import or set low_memory=False.
  sales = pd.read_csv("Data/정형데이터 프로젝트/Sales_data.csv")

,주문번호,배송완료일,배송시작일,구매일,구매시월령,고객번호,구매금액,결제금액,물품대분류,상품명
0,901011864201303,2022-01-06,2022-01-02,2022-01-01,35.0,201901010750089,74560,43825,팬티,하기스 매직핏팬티 5단계 남아 124매(팬티형)
1,901011864430366,2022-01-04,2022-01-02,2022-01-01,9.0,201901010750143,74560,43825,팬티,하기스 매직핏팬티 3단계 남아 184매(팬티형)
2,81231186197954,2022-01-06,2022-01-02,2022-01-01,22.0,201812310749820,53920,36769,팬티,하기스 네이처메이드 팬티 5단계 여아 80매(팬티형)
3,812311863500220,2022-01-04,2022-01-02,2022-01-01,8.0,201812310750007,52160,32408,팬티,하기스 보송보송팬티 4단계 공용 124매(팬티형)
4,812311863220192,2022-01-04,2022-01-02,2022-01-01,23.0,201812310749977,47360,30066,팬티,하기스 에어솔솔 팬티 5단계 남아용 80매(팬티형)
...,...,...,...,...,...,...,...,...,...,...
199994,00806233401-26770461124511,2023-08-12,2023-08-09,2023-08-08,13.0,201906180918504,21300,14910,FC,라네이처 시그니처 울트라슬림 날개 중형 12개입 (EA)
199995,00806204436-0461904922687,2023-08-12,2023-08-09,2023-08-08,163.0,201901280776735,7900,5840,FC,라네이처 시그니처 맥시슬림 날개 중형 12개입 (EA)
199996,00806204436-0461904922688,2023-08-13,2023-08-09,2023-08-08,163.0,201901280776735,7100,5240,FC,라네이처 시그니처 울트라슬림 날개 대형 10개입 (EA)
199997,00806215930-05281256126202,2023-08-11,2023-08-09,2023-08-08,5.0,201906200921415,7100,5240,FC,라네이처 시그니처 울트라슬림 날개 소형 14개입 (EA)
199998,00806233401-26770461124510,2023-08-11,2023-08-09,2023-08-08,13.0,201906180918504,5670,4190,FC,좋은느낌 유기농순면 뉴 맥시슬림 오버나이트 12개입 (EA)

In [57]:
sales["고객번호"].nunique()

81360

In [58]:
sales[sales["물품대분류"] == "FMC"]["구매시월령"].sort_values()

43517    -10.0
28570    -10.0
8243     -10.0
163773   -10.0
43510    -10.0
          ...
199533     NaN
199534     NaN
199536     NaN
199720     NaN
199729     NaN
Name: 구매시월령, Length: 25976, dtype: float64

In [59]:
sales.isnull().sum()

주문번호         0
배송완료일        0
배송시작일        0
구매일          0
구매시월령    31857
고객번호         0
구매금액         0
결제금액         0
물품대분류        0
상품명          0
dtype: int64

# member

In [60]:
import pandas as pd
member = pd.read_csv("Data/정형데이터 프로젝트/Member_data.csv")
member['고객번호'] = member['고객번호'].astype(str)
member

C:\Users\campus4D019\AppData\Local\Temp\ipykernel_104388\4202505648.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  member = pd.read_csv("Data/정형데이터 프로젝트/Member_data.csv")

                       고객번호   성별 결혼유무 거주지역    연령 결제등록카드    유입경로 자녀여부
0           201812310749735    여   기혼   인천  37.0   국민은행   인스타그램  Yes
1           201812310749770    여   기혼   제주  33.0   국민은행    검색광고  Yes
2           201812310749771    여   기혼   부산  32.0   하나은행  네이버블로그  Yes
3           201812310749774    여   미혼   경남  34.0   기업은행    지인추천   No
4           201812310749780    여   기혼   서울  32.0   신한은행    직접검색  Yes
...                     ...  ...  ...  ...   ...    ...     ...  ...
81355  20200724113017315991  NaN  NaN  NaN   NaN    NaN     NaN  NaN
81356  20200729134409126553  NaN  NaN  NaN   NaN    NaN     NaN  NaN
81357  20200803075905757887  NaN  NaN  NaN   NaN    NaN     NaN  NaN
81358  20200805170229147688  NaN  NaN  NaN   NaN    NaN     NaN  NaN
81359  20200805223526494551  NaN  NaN  NaN   NaN    NaN     NaN  NaN

[81360 rows x 8 columns]

In [61]:
member["고객번호"].nunique()

81360

In [62]:
member.isnull().sum()

고객번호        0
성별        266
결혼유무      266
거주지역      266
연령        266
결제등록카드    266
유입경로      266
자녀여부      266
dtype: int64

# product

In [63]:
product = pd.read_csv("Data/정형데이터 프로젝트/Product_data.csv")
product

     물품대분류                               상품명  물품판매량   제품단가
0       FC        (1+1) 좋은느낌 입는 오버나이트 대형 8개입     15      0
1       FC        (1+1) 좋은느낌 입는 오버나이트 중형 8개입     10      0
2       FC  (1+1) 화이트 입는 오버나이트 대형 L 8개입 (EA)     27      0
3       FC  (1+1) 화이트 입는 오버나이트 중형 M 8개입 (EA)     12      0
4       FC   (핫딜위크/1+1) 좋은느낌 입는 오버나이트 대형 8개입      4      0
...    ...                               ...    ...    ...
3043    팬티    하기스 에어솔솔 썸머팬티 6단계 여아용 68매(팬티형)      4  47360
3044    팬티      하기스 에어솔솔 팬티 4단계 남아용 96매(팬티형)     18  71040
3045    팬티      하기스 에어솔솔 팬티 4단계 여아용 96매(팬티형)     17  66861
3046    팬티      하기스 에어솔솔 팬티 5단계 남아용 80매(팬티형)     81  68994
3047    팬티      하기스 에어솔솔 팬티 5단계 여아용 80매(팬티형)     34  76612

[3048 rows x 4 columns]

# merged

In [19]:
# member = member.dropna(subset=["성별"])
# member

                  고객번호 성별 결혼유무 거주지역    연령 결제등록카드    유입경로 자녀여부
0      201812310749735  여   기혼   인천  37.0   국민은행   인스타그램  Yes
1      201812310749770  여   기혼   제주  33.0   국민은행    검색광고  Yes
2      201812310749771  여   기혼   부산  32.0   하나은행  네이버블로그  Yes
3      201812310749774  여   미혼   경남  34.0   기업은행    지인추천   No
4      201812310749780  여   기혼   서울  32.0   신한은행    직접검색  Yes
...                ... ..  ...  ...   ...    ...     ...  ...
81089  201912291058164  여   기혼   경기  31.0   국민은행    오픈마켓  Yes
81090  201912291058167  여   기혼   경남  37.0   롯데카드    오픈마켓  Yes
81091  201912291058168  여   기혼   충북  26.0   삼성카드    검색광고  Yes
81092  201912291058169  여   기혼   경기  32.0  새마을금고   인스타그램  Yes
81093  201912291058171  여   기혼   서울  35.0  새마을금고   인스타그램  Yes

[81094 rows x 8 columns]

In [50]:
member["고객번호"] = member["고객번호"].astype(str)
sales["고객번호"] = sales["고객번호"].astype(str)

In [64]:
merged = sales.merge(member, on='고객번호', how='left')
merged["고객번호"] = merged["고객번호"].astype(str)
merged

,주문번호,배송완료일,배송시작일,구매일,구매시월령,고객번호,구매금액,결제금액,물품대분류,상품명,성별,결혼유무,거주지역,연령,결제등록카드,유입경로,자녀여부
0,901011864201303,2022-01-06,2022-01-02,2022-01-01,35.0,201901010750089,74560,43825,팬티,하기스 매직핏팬티 5단계 남아 124매(팬티형),여,기혼,서울,30.0,롯데카드,인스타그램,Yes
1,901011864430366,2022-01-04,2022-01-02,2022-01-01,9.0,201901010750143,74560,43825,팬티,하기스 매직핏팬티 3단계 남아 184매(팬티형),남,기혼,충북,28.0,광주은행,인스타그램,Yes
2,81231186197954,2022-01-06,2022-01-02,2022-01-01,22.0,201812310749820,53920,36769,팬티,하기스 네이처메이드 팬티 5단계 여아 80매(팬티형),여,미혼,서울,31.0,신협중앙회,인스타그램,No
3,812311863500220,2022-01-04,2022-01-02,2022-01-01,8.0,201812310750007,52160,32408,팬티,하기스 보송보송팬티 4단계 공용 124매(팬티형),여,기혼,서울,35.0,신한카드,인스타그램,Yes
4,812311863220192,2022-01-04,2022-01-02,2022-01-01,23.0,201812310749977,47360,30066,팬티,하기스 에어솔솔 팬티 5단계 남아용 80매(팬티형),여,기혼,강원,32.0,롯데카드,인스타그램,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199994,00806233401-26770461124511,2023-08-12,2023-08-09,2023-08-08,13.0,201906180918504,21300,14910,FC,라네이처 시그니처 울트라슬림 날개 중형 12개입 (EA),여,기혼,인천,36.0,국민카드,인스타그램,Yes
199995,00806204436-0461904922687,2023-08-12,2023-08-09,2023-08-08,163.0,201901280776735,7900,5840,FC,라네이처 시그니처 맥시슬림 날개 중형 12개입 (EA),여,기혼,강원,36.0,부산은행,인스타그램,Yes
199996,00806204436-0461904922688,2023-08-13,2023-08-09,2023-08-08,163.0,201901280776735,7100,5240,FC,라네이처 시그니처 울트라슬림 날개 대형 10개입 (EA),여,기혼,강원,36.0,부산은행,인스타그램,Yes
199997,00806215930-05281256126202,2023-08-11,2023-08-09,2023-08-08,5.0,201906200921415,7100,5240,FC,라네이처 시그니처 울트라슬림 날개 소형 14개입 (EA),여,기혼,경북,33.0,롯데카드,인스타그램,Yes
199998,00806233401-26770461124510,2023-08-11,2023-08-09,2023-08-08,13.0,201906180918504,5670,4190,FC,좋은느낌 유기농순면 뉴 맥시슬림 오버나이트 12개입 (EA),여,기혼,인천,36.0,국민카드,인스타그램,Yes

In [65]:
merged["성별"].isnull().sum()

416

In [66]:
# 병합 결과에서 자녀여부가 NaN인 고객번호
missing_ids = merged[merged["자녀여부"].isnull()]["고객번호"].unique()

# 이 고객들이 member에 있는지 확인
missing_check = pd.Series(missing_ids).isin(member["고객번호"])

# False가 있으면 => member에 없는 고객이 병합되면서 NaN 발생한 것
print("member에 존재하는가?", missing_check.value_counts())

member에 존재하는가? True    266
Name: count, dtype: int64

In [24]:
missing_check

0      False
1      False
2      False
3      False
4      False
       ...
261    False
262    False
263    False
264    False
265    False
Length: 266, dtype: bool

In [67]:
member[member["고객번호"] == "20200805170229147688"]

                       고객번호   성별 결혼유무 거주지역  연령 결제등록카드 유입경로 자녀여부
81358  20200805170229147688  NaN  NaN  NaN NaN    NaN  NaN  NaN

In [68]:
sales[sales["고객번호"] == "20200805170229147688"]

,주문번호,배송완료일,배송시작일,구매일,구매시월령,고객번호,구매금액,결제금액,물품대분류,상품명
199823,00805171023-18783441199998,2023-08-12,2023-08-08,2023-08-07,NaN,20200805170229147688,3000,3000,체험팩,맘큐 허그박스

In [69]:
merged[merged["고객번호"] == "20200805170229147688"]

,주문번호,배송완료일,배송시작일,구매일,구매시월령,고객번호,구매금액,결제금액,물품대분류,상품명,성별,결혼유무,거주지역,연령,결제등록카드,유입경로,자녀여부
199823,00805171023-18783441199998,2023-08-12,2023-08-08,2023-08-07,NaN,20200805170229147688,3000,3000,체험팩,맘큐 허그박스,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
null_child = merged[(merged["자녀여부"].isnull()) & (merged["구매시월령"].isnull())]

# 고객번호별 주문 건수 세기
order_counts = (
    null_child.groupby("고객번호")["주문번호"]
    .nunique()  # 주문번호가 중복될 수 있으므로 고유값 기준
    .reset_index()
    .rename(columns={"주문번호": "주문건수"})
    .sort_values(by="주문건수", ascending=False)
)

order_counts

                    고객번호  주문건수
14       201912291058383     6
38       201912301058788     6
22       201912301058494     5
8        201912291058255     4
9        201912291058264     4
..                   ...   ...
35       201912301058768     1
37       201912301058787     1
39       201912301058794     1
41       201912311058848     1
79  20200805223526494551     1

[80 rows x 2 columns]

In [71]:
merged.isnull().sum()

주문번호          0
배송완료일         0
배송시작일         0
구매일           0
구매시월령     31857
고객번호          0
구매금액          0
결제금액          0
물품대분류         0
상품명           0
성별          416
결혼유무        416
거주지역        416
연령          416
결제등록카드      416
유입경로        416
자녀여부        416
dtype: int64

In [72]:
merged[merged["구매시월령"].isnull()]["고객번호"].nunique()

15780